/* Autoplay video related CSS */

.video-background-wrapper {
    position: relative;
    width: 100%;
}

.video-fluid {
    width: 100%;
}

.overlay {
    position: absolute;
    display: flex;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    text-align: center;
}

.overlay .video-button-wrapper {
    flex-direction: row;
    margin-bottom: 10px;
}

.overlay .video-button-wrapper .subscribe-button {
    background-color: #E10205;
    text-transform: capitalize;
    border-radius: 1em;
    min-width: 8em;
}

.btn-text {
    padding-left: 0.5em;
}


/* Background hero image CSS */

.s-section.s-new-title-section,
.s-section.s-title-section,
li.slide:first-child .s-section.s-cta-section,
li.slide:first-child .s-section.s-hero-section,
li.slide:first-child .s-section.s-new-hero-section {
    min-height: 55vh;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
}

.s-section.s-block-section .s-block-feature,
.s-section.s-block-section .s-block-profile,
.s-section.s-columns-section,
.s-section.s-columns-section .s-item-media-group,
.s-section.s-cta-section,
.s-section.s-footer-section,
.s-section.s-info-section,
.s-section.s-media-section,
.s-section.s-media-section .s-item-media-group,
.s-section.s-new-title-section,
.s-section.s-repeatable,
.s-section.s-rows-section,
.s-section.s-text-section {
    text-align: left;
}

.s-section.transition {
    transition: padding-bottom .5s;
}

.s-section.s-bg-light-text,
.s-section.s-bg-light-text-override {
    color: #fff;
}

.s-section .container .sixteen.columns {
    width: 97.8166666%;
}

.s-section .container .column,
.s-section .container .columns {
    float: left;
    display: inline;
    margin-left: 1.04166666%;
    margin-right: 1.04166666%;
}

@media only screen and (min-width: 1024px) {
    .s-section {
        padding: 70px 80px;
    }
    .s-section .container {
        position: relative;
        width: 100%;
        margin: 0 auto;
        padding: 0;
    }
}

.column,
.columns {
    transition: width .2s cubic-bezier(.7, 0, .3, 1), margin .2s cubic-bezier(.7, 0, .3, 1), padding .2s cubic-bezier(.7, 0, .3, 1);
}

.s-section .s-title-group.s-only-title-group {
    margin-bottom: 0;
}

.s-section .s-title-group {
    margin-bottom: 30px;
    position: relative;
}

.s-section .s-title-group .s-subtitle {
    margin-bottom: 10px;
}

#s-content h4 {
    font-size: 20px;
}

.s-subtitle {
    font-size: 22px;
    margin-bottom: 40px;
}

.s-section {
    padding: 80px 0;
    line-height: 1.45;
    color: #50555c;
}

.s-bg-overlay {
    position: relative;
}

.s-bg-overlay:before {
    content: "";
    display: block!important;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .39);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

#s-content.s-font-heading-abril-fatface .s-font-heading {
    font-family: "abril fatface", georgia, serif;
}

#s-content h4 {
    font-size: 20px;
}

.s-section .s-component.s-text .s-component-content,
.s-section .s-component.s-text .s-component-content a,
.s-section .s-component.s-text .s-component-content div,
.s-section .s-component.s-text .s-component-content em,
.s-section .s-component.s-text .s-component-content li,
.s-section .s-component.s-text .s-component-content p,
.s-section .s-component.s-text .s-component-content span,
.s-section .s-component.s-text .s-component-content strong {
    line-height: 1.45;
}

.s-section .s-title-group .s-title {
    line-height: 1.2;
    margin-bottom: 15px;
}

@media only screen and (max-width: 727px) {
    .s-section {
        padding-left: 0;
        padding-right: 0;
    }
    .s-section {
        padding: 40px 0;
    }
    .s-section .container {
        max-width: 90%;
    }
    .s-section .container {
        position: relative;
        width: 90%;
        margin: 0 auto;
        padding: 0;
    }
}

@media only screen and (max-width: 479px) {
    #s-content h4,
    #s-content h5,
    #s-content h6 {
        font-size: 16px;
    }
    #s-content h1 {
        font-size: 36px;
    }
}