<section>
    <div class="s-bg-image s-bg-light-text s-bg-overlay s-new-title-section s-section s-section-full background-image transition lazyloaded">
        <div class="container">
            <div class="sixteen columns">
                <div class="s-title-group s-only-title-group ">
                    <div class="s-subtitle">
                        <div class="s-component s-text">
                            <h1 class="s-component-content s-font-heading">
                                Aishwarya Iyer S
                            </h1>
                        </div>
                    </div>
                    <div class="s-title">
                        <div class="s-component s-text">
                            <h2 class="s-component-content s-font-title">
                                <em>Bharatanatyam Artist and Teacher | Artist Manager.</em>
                            </h2>
                        </div>
                    </div>
                    <div class="action-buttons">
                        <a class="btn btn-primary action-button" routerLink="about"> Learn More </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-about></app-about>
<section class="video-background-wrapper ">
    <video loading="lazy " class="video-fluid z-depth-2 " autoplay loop [muted]="true " id="video-banner ">
        <source src="https://res.cloudinary.com/dutf9wluo/video/upload/v1603488210/aishu-hero-video_unjvyg.mp4 " type="video/mp4 " />
    </video>
    <div class="overlay ">
        <div class="video-button-wrapper ">
            <a class="btn btn-danger subscribe-button " href="https://www.youtube.com/channel/UChzWHcRhbucXRcGd9FTfCPQ "><i class="fa fa-youtube " aria-hidden="true "></i><span class="btn-text ">Subscribe</span></a>
        </div>
    </div>
</section>