<section>
    <div class="s-bg-image s-bg-light-text s-bg-overlay s-new-title-section s-section s-section-full background-image transition lazyloaded" data-react-style="{&quot;backgroundRepeat&quot;:&quot;no-repeat&quot;,&quot;backgroundSize&quot;:&quot;cover&quot;,&quot;backgroundColor&quot;:&quot;transparent&quot;,&quot;backgroundPosition&quot;:&quot;50% 50%&quot;}"
        style="background-repeat: no-repeat; background-size: cover; background-color: transparent; background-position: 50% 50%; background-image: url(&quot;//user-images.strikinglycdn.com/res/hrscywv4p/image/upload/c_limit,fl_lossy,h_1500,w_2000,f_auto,q_auto/183915/552223_216242.png&quot;);">
        <div class="container" style="z-index: 3;">
            <div class="sixteen columns">
                <div class="s-title-group s-only-title-group ">
                    <div class="s-subtitle">
                        <div class="s-component s-text">
                            <h4 class="s-component-content s-font-heading">
                                <p style="font-size: 160%;">SATO</p>
                            </h4>
                        </div>
                    </div>
                    <div class="s-title ">
                        <div class="s-component s-text">
                            <h1 class="s-component-content s-font-title">
                                <p style="font-size:60%">A Visual Artist.</p>
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="cover-arrow" href="#2">
            <div class="arrow-image"></div>
        </a>
    </div>
</section>
<app-about></app-about>
<section class="video-background-wrapper ">
    <video loading="lazy " class="video-fluid z-depth-2 " autoplay loop [muted]="true " id="video-banner ">
        <source src="https://res.cloudinary.com/dutf9wluo/video/upload/v1603488210/aishu-hero-video_unjvyg.mp4 " type="video/mp4 " />
    </video>
    <div class="overlay ">
        <div class="video-button-wrapper ">
            <a class="btn btn-danger subscribe-button " href="https://www.youtube.com/channel/UChzWHcRhbucXRcGd9FTfCPQ "><i class="fa fa-youtube " aria-hidden="true "></i><span class="btn-text ">Subscribe</span></a>
        </div>
    </div>
</section>