<section class="page-section" id="videos">
    <div class="container">
        <div class="text-center">
            <h1 class="section-heading text-uppercase">Videos</h1>
            <h2 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h2>
        </div>
        <div class="row text-center">
            <div class="col-md-12 align-left">
                <script src="https://apis.google.com/js/platform.js"></script>
                <div class="g-ytsubscribe" data-channelid="UChzWHcRhbucXRcGd9FTfCPQ" data-layout="full" data-count="default"></div>
            </div>
            <div class="col-md-4" *ngFor="let video of videos">
                <iframe width="100%" height="315" src="video.embedUrl | sanitizeurl" [srcdoc]="video.srcDocData" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <h3 class="my-3 video-section-heading">{{video.name}}</h3>
                <p class="text-muted video-section-subheading">{{video.description}}</p>
            </div>
        </div>
        <!-- div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                <i class="fas fa-circle fa-stack-2x text-primary"></i>
                <i class="fas fa-shopping-cart fa-stack-1x fa-inverse"></i>
            </span>
                <h4 class="my-3">E-Commerce</h4>
                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                <i class="fas fa-circle fa-stack-2x text-primary"></i>
                <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
            </span>
                <h4 class="my-3">Responsive Design</h4>
                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                <i class="fas fa-circle fa-stack-2x text-primary"></i>
                <i class="fas fa-lock fa-stack-1x fa-inverse"></i>
            </span>
                <h4 class="my-3">Web Security</h4>
                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
            </div>
        </div -->
    </div>
</section>